@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
ul, li{
list-style: none;
padding: 0;
}
a{
color: #ddd;
text-decoration: none;
}
a:hover{
color: #fff;
}
body{
background: #888;
font-family: arial;
font-size: 16px;
color: #ddd;
-webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none;
cursor: default;
}
.container{
width: 500px;
margin: 20px auto;
}
.title{
font-size: 1.8em;
font-family: open_sansregular;
}
.add-new{
text-align: right;
display: block;
}
.articles{
margin-top: 5px;
padding-top: 40px;
border-top: 3px solid #999;
}
.article{
border-bottom: 1px solid #999;
padding-bottom: 20px;
margin-bottom: 20px;
}
.article .title{
font-size: 1.5em
}